/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 14, 2025, 8:33:07 PM
    Author     : Angela
*/

.root{
    -fx-background-color:white;
    -fx-font-family:serif; 
    -fx-font-size:12pt;
}

.button{
    -fx-font-weight:900;
}

.button:pressed{
    -fx-background-color: grey;
}

.hover{

}

.black-background{
    -fx-background-color:black;
    /*squared background*/ 
    
}

.border{
    -fx-border-color:black;
}